<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/images/bolsoys2.svg"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/bolsoys2.svg"/>
    <link rel="stylesheet" href="/styles/gallery.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsoy's</title>
</head>
<body>
    <header class="header">
        <p>Welcome to the chocolate shop!</p>
        <a id="main-anchor" href="/displays/upload">Upload a drawing</a>
        <img class="top-logo" src="../images/bolsoys3.svg">
    </header>

    <div class="main-content"></div>

    <div class="logos">
        <img class="logo" src="../images/bolsoys4.svg">
        <img class="logo" src="../images/bolsoys6.svg">
        <img class="logo" src="../images/bolsoys7.svg">
    </div>

    <script type="module" src="/assets/js/galleryJs.js"></script>

    <dialog id="drawing-modal">
        <img src="" alt="Enlarged drawing" id="modal-img">
    </dialog>
</body>
</html>