<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/images/bolsoys_icon.svg"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/bolsoys_icon.svg"/>
    <link rel="stylesheet" href="/styles/home.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsoy's</title>
</head>
<body>
    <header>
        <p>Welcome to the official website!</p>
    </header>

    <div class="main-content"></div>

    <img class="test-logo" src="../images/bolsoys4.svg">
    <img class="test-logo" src="../images/bolsoys6.svg">
    <img class="test-logo" src="../images/bolsoys7.svg">

    <script type="module" src="/assets/js/galleryJs.js"></script>
</body>
</html>