<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg" href="/images/bolsoys10.svg"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/bolsoys10.png"/>

    <link rel="stylesheet" href="/styles/shop.css"/>
    <!-- partials -->
    <link rel="stylesheet" href="/styles/partials/header.css"/>
    <link rel="stylesheet" href="/styles/partials/mission.css"/>
    <link rel="stylesheet" href="/styles/partials/products.css"/>
    <link rel="stylesheet" href="/styles/partials/sample-gallery.css"/>
    <link rel="stylesheet" href="/styles/partials/footer.css"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolsoy's | shop</title>
</head>
<body>
    <%- include ("./partials/header.ejs") %>

    <p id="temporary-placeholder">Delicious chocolates here</p>

    <div class="main-content">
        <p>Products will be displayed here!</p>
    </div>

    <%- include ("./partials/footer.ejs") %>
</body>
</html>