  body {
  margin: 0;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
}

.logos {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  flex-wrap: nowrap; 
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  background-color: rgb(245, 245, 245);
}

.logo {
  width: 120px; 
  flex-shrink: 1; 
  min-width: 0; 
  height: auto;
}
  
.top-logo {
    width: 60px;
    height: auto;
}
