@font-face {
    font-family: 'gyst-regular'; /* Give it any name you like */
    src: url('fonts/gyst-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'gyst-regular', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

.main-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;
  align-items: flex-start;  
  align-content: flex-start;
  padding: 20px;
  gap: 15px;                 
}
  

