    <header class="header">
        <div class="links">
            <a id="main-anchor" href="/displays/gallery">Gallery</a>
            <a id="main-anchor" href="/displays/shop">Shop</a>
        </div>

        <a id="main-anchor" href="/displays/">
            <img class="top-logo" src="../images/bolsoys3.svg">
        </a>

        <p>Welcome to the chocolate shop!</p>
    </header>