    <header class="header">

        <p>welcome to the chocolate shop!</p>

        <a id="main-anchor" href="/displays/">
            <img class="top-logo" src="../images/bolsoys14.svg">
        </a>

        <div class="links">
            <a id="main-anchor" href="/displays/gallery">gallery</a>
            <a id="main-anchor" href="/displays/shop">shop</a>
        </div>
    </header>