    <header class="header">
        <p>Welcome to the chocolate shop!</p>
        <a id="main-anchor" href="/displays/">Go Home</a>
        <a id="main-anchor" href="/displays/gallery">View full gallery</a>
        <a id="main-anchor" href="/displays/upload">Upload a drawing</a>
        <img class="top-logo" src="../images/bolsoys3.svg">
    </header>