<div class="products">

        <a id="dark_bar" href="/displays/shop">
            <img class="product" src="../images/products/dark_bar.jpg">
        </a>

        <a id="milk_bar" href="/displays/shop">
            <img class="product" src="../images/products/milk_bar.jpg">
        </a>

</div>