<div class="products">

        <a class="img_anchor" href="/displays/shop">
            <img class="product" src="../images/products/dark_bar_4.jpg">
        </a>

        <a class="img_anchor" href="/displays/shop">
            <img class="product" src="../images/products/milk_bar_2.jpg">
        </a>

</div>