<p>featured drawings</p>
<a href="/displays/gallery" class="gallery-link">
    <div class="sample-gallery">
        <img class="product" src="../images/gallery/gallery_1.png">
        <img class="product" src="../images/gallery/gallery_2.png">
        <img class="product" src="../images/gallery/gallery_3.png">
    </div>
</a>
