<div class="upload">
        <form class="post-form" method="POST" enctype="multipart/form-data" action="/api/drawings">
            <label for="form-drawing" class="camera-label">
            <span id="button-text">Open Files</span>
            <input class="camera" id="form-drawing" type="file" name="form-drawing" 
                    accept="image/*" style="display: none;"/>
                <!-- removed  capture="user"  -->
            </label>
        </form>
        <p>scan your drawing on a computer and upload it to the gallery!</p>
    </div>