.logos {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  flex-wrap: nowrap; 
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  background-color: rgb(245, 245, 245);
}

.logo {
  width: 20%;
  flex-shrink: 1; 
  min-width: 0; 
  height: auto;
}