
@font-face {
    font-family: 'gyst-regular';
    src: url('../../fonts/gyst-regular.woff2') format('woff2');
}


.mission {
    font-family: 'gyst-regular', sans-serif;
    font-size: 2rem;
}

.mission h1 {
    font-weight: 400;
    margin: 0;
}

.mission strong {
    font-weight: 900;
}