@font-face {
    font-family: 'gyst-bold'; /* Give it any name you like */
    src: url('fonts/gyst-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.mission {
    font-family: 'gyst-bold', sans-serif;
    font-size: 2rem;
}