.products {
    border: 2px solid black;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product {
    width: 40%; /* Adjust this value to your liking */
    height: auto;
}